.Title
{
}

.button-group
{
	float: right;
	white-space: nowrap;
}

.button
{
	margin: 0px;
	padding: 0 6px;
	border: 1px solid #CCC;
	color: Black;
	background-color: #F6F6F6;
	vertical-align: middle;
	cursor: pointer;
	overflow: visible;
	height: 24px;
}

.button img
{
	background-image: url('Images/button-icon.png');
	width: 16px;
	height: 19px;
}

.icon-like
{
	background-position: -136px -38px;
}

.icon-dislike
{
	background-position: -136px 1px;
}

.Content
{
	font-family: 微软雅黑, arial, 宋体, sans-serif;
	color: Black;
	min-height: 400px;
	height: auto;
}

* html .Content
{
	height: 400px;
}

.Information
{
}

.TagsArea
{
}

.Tags
{
}

.resource-item
{
	padding: 5px;
	clear: both;
	border-bottom: 1px solid #DEDEDE;
}


.resource-item .thumbs
{
	float: left;
	height: 125px;
	overflow: hidden;
	margin-left: 10px;
	padding-right: 5px;
}

.resource-item .thumbs img
{
	width: 125px;
	margin: 5px 0;
	max-width: 500px;
	border: 0px;
}

.resource-item .indexs
{
	min-height: 75px;
}

.resource-item .counter
{
	background-color: #BBB;
	color: white;
	float: right;
    font-family: Arial, 微软雅黑, Sans-Serif;
	font-size: 16px;
	font-weight:bolder;
	line-height: 1em;
	padding: 3px 10px;
	margin-right: 1px;
	text-align: center;
	width: 40px;
	height: 30px;
}
.resource-item .actionResult
{
	font-size: 12px;
    font-family: 微软雅黑, Arial, Sans-Serif;
	font-weight:normal;
}

.resource-item .like
{
	background-color: #cba94c;
}

.resource-item .dislike
{
	background-color: #376717;
}

.resource-item .pageview
{
	background-color: #780000;
}


.resource-item .h2
{
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 1.3em;
}

.resource-item .time
{
	-webkit-text-size-adjust: none;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	line-height: 1.5em;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.resource-item .time a
{
	color: #999;
	text-decoration: none;
}

.resource-item .admin-action
{
    float: right;
}

.break
{
	font-size: 0;
	height: 0;
	width: 0;
	clear: both;
	display: block;
}


