.Title
{
}

.Content
{
	font-family: 微软雅黑, arial, 宋体, sans-serif;
	color: Black;
}

.Information
{
}

.TagsArea
{
}

.Tags
{
}

.resource-item
{
	padding: 5px;
	clear: both;
	border-bottom: 1px solid #DEDEDE;
}


.resource-item .thumbs
{
	float: left;
	height: 125px;
	overflow: hidden;
	margin-left: 10px;
	padding-right: 5px;
}

.resource-item .thumbs img
{
	width: 125px;
	margin: 5px 0;
	max-width: 500px;
	border: 0px;
}

.resource-item .indexs
{
	min-height: 75px;
}

.resource-item .counter
{
	background-color: #BBB;
	color: white;
	float: right;
	font-size: 14px;
	line-height: 1em;
	padding: 3px 10px;
	text-align: center;
	width: 40px;
	height: 30px;
}

.resource-item .like
{
	background-color: #C8A64A;
}

.resource-item .unlike
{
	background-color: #2C630D;
}

.resource-item .pageview
{
	background-color: #224282;
}


.resource-item .h2
{
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 1.3em;
}

.resource-item .time
{
	-webkit-text-size-adjust: none;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	line-height: 1.5em;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.resource-item .time a
{
	color: #999;
}

.break
{
	font-size: 0;
	height: 0;
	width: 0;
	clear: both;
	display: block;
}


